---
title: "Home"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: ath.jpg
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Tao Zhang"
  #excerpt: "Bioinformtics "
#intro:
  #- excerpt: 'Test `type="center"`'
feature_row:
  - image_path: chorus.jpg
    alt: "Chorus"
    title: "Chorus"
    excerpt: "**Oligo FISH** probe design software. "
    url: 'https://github.com/forrestzhang/Chorus'
    btn_label: "Github"
    btn_class: "btn--inverse"
  - image_path: popera.jpg
    alt: "Popera"
    title: "Popera"
    excerpt: "**DHS** identification software ."
    url: "https://github.com/forrestzhang/Popera"
    btn_label: "Github"
    btn_class: "btn--inverse"
  - image_path: plantdhs.jpg
    title: "plantdhs"
    excerpt: "**Plant DHS** Database."
    url: "http://plantdhs.org"
    btn_label: "Visit"
    btn_class: "btn--inverse"
feature_row2:
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row4:
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

<!-- {% include feature_row id="intro" type="center" %} -->

{% include feature_row %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<!--
{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %} -->
